<a href="https://colab.research.google.com/github/rhy004/challenge-question/blob/main/Challenge_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write a python program to sort the list of heterogeneous data.
# e.g.
# L = ["Ram", 1, "Shyam", 2, "Aman", 3]
# print(L)
# L.sort()
# print(L)
# Above code gives error. Correct it.

In [1]:
L=["Ram", 1, "Shyam", 2, "Aman", 3]
print(L)

['Ram', 1, 'Shyam', 2, 'Aman', 3]

In [3]:
L = set(L)
print(L)

{1, 'Shyam', 2, 3, 'Ram', 'Aman'}

In [6]:
L.sort()
print(L)

AttributeError: ignored

In [7]:
L = [str(i) for i in L]
print(L)
L.sort()
print(L)

['1', 'Shyam', '2', '3', 'Ram', 'Aman']
['1', '2', '3', 'Aman', 'Ram', 'Shyam']